# Python

__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Ambiente virtual
.venv/
venv/

# Banco de dados local
*.db
*.sqlite3

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
